.card {
  padding: 20px;
  background: #eee;
  box-shadow: 0 6px 12px #0005;
}

.card__container {
  display: grid;
  gap: 20px;
  overflow: scroll;
  padding: 20px;
}

.card__bookmark {
  display: inline-block;
  font-size: 2em;
  border: 1px solid;
  background: #ddd;
  padding: 5px;
  border-radius: 20%;
  position: relative;
  top: -30px;
  left: 250px;
}

.card__bookmark--special {
  color: var(--secondary);
}
